body {
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
	font-family: 'Circe-Regular';
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #bfc6cc;
}
a svg:hover {
	fill: #bfc6cc;
}
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6,h7 {
	margin: 0;
}
hr {
	color: #cacaca;
	height: 1px;
}
input::-ms-clear {
	display: none;
}
input:focus {
	outline: none !important;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
button {
	cursor: pointer;
	border: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
	opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #000;
	opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #000;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: #000;
	opacity: 1;
}
.text-center {
	text-align: center;
}
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
header {
	font-family: 'FuturaPT-Book';
}
.top-header-info {
	background: #f5f8f9;
	font-size: 17px;
}
.header-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 15px 0;
}
.header-info-location, .header-info-work-time, .header-info-phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header-info-work-time {
	-ms-flex-preferred-size: 45%;
	    flex-basis: 45%;
}
.header-info-img {
	height: 18px;
	width: 18px;
	margin-right: 10px;
}
.header-info-work-time-info-day {
	color: #8f969c;
}
.header-info-work-time-info > span:not(:first-child) {
	margin-left: 25px;
}
.header-info-phone-link {
	display: flex;
	align-items: center;
}
.header-info-phone-link span {
	border-bottom: 3px #e5e8eb solid;
	padding-bottom: 2px;
}
.top-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 10px 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.top-header-shadow {
	-webkit-box-shadow: 0px -10px 10px -5px #f2f2f3 inset;
	box-shadow: 0px -10px 10px -5px #f2f2f3 inset;
}
.logo {
	margin-right: 100px;
}
.logo-img {
	width: 363px;
	height: 49px;
}
.search {
	margin-right: 50px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	color: #bdc4ca;
}
.search-input {
	width: 220px;
	height: 36px;
	border: 1px solid #bdc4ca;
	padding-left: 15px;
	cursor: text;
	font-size: 14px;
	color: #bdc4ca;
	font-family: 'FuturaPT-Book';
}
.search input::-webkit-input-placeholder { 
	color: #bdc4ca;
	text-transform: uppercase;
	font-family: 'FuturaPT-Book';
}
.search input::-moz-placeholder { 
	color: #bdc4ca;
	text-transform: uppercase;
	font-family: 'FuturaPT-Book';
}
.search input:-ms-input-placeholder{
	color: #bdc4ca;
	text-transform: uppercase;
	font-family: 'FuturaPT-Book';
}
.search input:-moz-placeholder{
	color: #bdc4ca;
	text-transform: uppercase;
	font-family: 'FuturaPT-Book';
}
.search-img {
	position: absolute;
	right: 10px;
	cursor: pointer;
	height: 14px;
	width: 14px;
	fill: #bdc4ca;
}
.search .dropdown-content {
	top: 0;
	padding-top: 28px;
}
.search .content {
	width: 315px;
	background: #fff;
	border: 1px solid #cacaca;
	border-top: none;
	padding: 10px 0 10px 20px;
}
.search-item-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	padding-bottom: 10px;
}
.search-item-link img {
	height: 30px;
	width: 30px;
	-o-object-fit: scale-down;
	   object-fit: scale-down;
	margin-right: 10px;
}
.search-item-link-size {
	width: 50px;
}
.search-item-link-arcticle {
	color:#dcdbdb;
}
.right-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.right-block  svg {
	height: 20px;
	width: 20px;
}
.compare {
	margin-right: 25px;
}
.compare a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 17px;
}
.compare svg {
	margin-right: 7px;
}
.compare:hover {
	fill: #bfc6cc;
	color: #bfc6cc;
}
.favorites a{
	margin-right: 35px;
	display: flex;
	align-items: center;
}
.cart a{
	display: flex;
	align-items: center;
}
.navbar-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;
	font-size: 17px;
	position: relative;
}
.navbar-list .active .item-link{
	border-bottom: 4px solid #bdc4ca;
}
.catalog-block {
	padding: 0;
	font-size: 18px;
}
.catalog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 0 16px;
	margin-right: 5px;
}
.catalog-item-image {
	margin-right: 25px;
}
.catalog-item-img {
	height: 42px;
	width: 40px;
	-webkit-filter: invert(92%) sepia(10%) saturate(166%) hue-rotate(166deg) brightness(86%) contrast(85%);
	        filter: invert(92%) sepia(10%) saturate(166%) hue-rotate(166deg) brightness(86%) contrast(85%);
}
.showroom .item-img:hover {
	opacity: 0.6;
}
.catalog-item-link:hover {
	color: #a27ec1;
	border-bottom: 2px solid #a27ec1;
}
.m-header {
	display: none;
	height: 70px;
}
.slider {
	position: relative;
}
.slider-content {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}
.slider .owl-theme .owl-dots {
	position: absolute;
	width: 100%;
	bottom: 25px;
}
.slider .owl-theme .owl-dots .owl-dot span{
	width: 4px;
	height: 10px;
	background: #fff;
	border-radius: 0;
}
.slider .owl-theme .owl-dots .owl-dot.active span {
	height: 16px;
}
.slider .owl-theme .owl-dots .owl-dot span:hover {
	background: #9d9fa0;
}
.title-h1 {
	font-size: 60px;
	color: #fff;
	line-height: 1.2;
	font-family: 'Circe-Regular';
	padding-bottom: 10px;
	font-weight: 500;
	text-transform: uppercase;
}
.slider .title-h2 {
	font-size: 50px;
	color: #fff;
	line-height: 1;
	font-family: 'Circe-Light';
	font-weight: 500;
	text-transform: unset;
}
.m-br {
	display: none;
}
.catalog {
	margin: 100px 0;
}
.title-h2 {
	font-size: 45px;
	text-transform: uppercase;
	color: #000;
	font-family: 'Circe-Regular';
	text-align: center;
	margin-bottom: 25px;
	font-weight: 500;
}
.card {
	padding: 10px 10px 5px 10px;
	-webkit-box-shadow: 0 0 10px 8px #f3f3f4;
	        box-shadow: 0 0 10px 8px #f3f3f4;
	margin-bottom: 25px;
}
.card img {
	display: inline-block;
}
.card img:hover {
	opacity: 0.6;
}
.card-title {
	font-family: 'FuturaPT-Medium';
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
	color: #000;
}
.tile {
	margin-bottom: 100px;
}
.m-catalog {
	display: none;
}
.showroom {
	background: #f5f8f9;
	padding: 100px 0;
	padding-left: 5%;
	padding-right: 5%;
}
.showroom  .item-block-slide .item-slide {
	position: relative;
	height: calc(50% - 16px);
}
.showroom .overlay, .showroom .item-block-slide, .showroom .owl-item img, .showroom .item, .showroom .item-slide {
	height: 100%;
}
.item-block-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	position: relative;
}
.item-img {
	width: 100%;
	position: relative;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.item-slide {
	display: block;
}
.showroom  .owl-carousel .owl-item {
	height: 650px;
}
.showroom .owl-nav img {
	width: 30px;
	-webkit-filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
	        filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
}
.showroom .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	-webkit-filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
	        filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
}
.showroom .owl-prev {
	right: 320px;
	position: relative;
}
.showroom .owl-next {
	left: 320px;
	position: relative;
}
.showroom .owl-theme .owl-nav {
	position: absolute;
	width: 100%;
	bottom: -23px;
}
.showroom .owl-theme .owl-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 75px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.showroom .owl-theme .owl-dots .owl-dot span {
	width: 100px;
	height: 4px;
	margin: 0;
	border-radius: 0;
	background: #e5e8eb;
}
.showroom .owl-theme .owl-dots .owl-dot.active span {
	background: #9aa0a6;
}
.brend {
	background: #f5f8f9;
	padding: 100px 0;
}
.brend-block .item-img {
	margin: 5px;
	width: 96%;
	height: 154px;
	background: #fff;
	margin-bottom: 25px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.3);
	box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.3);
}
.brend-block .item-img:hover {
	-webkit-box-shadow: 0px 0px 10px 16px rgba(228, 233, 234, 0.37);
	box-shadow: 0px 0px 10px 16px rgba(228, 233, 234, 0.37);
}
.brend-block .item-img img {
	-o-object-fit: scale-down;
	   object-fit: scale-down;
}
.brend .owl-nav img {
	width: 30px;
	-webkit-filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
	        filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
}
.brend .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	-webkit-filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
	        filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
}
.brend .owl-theme .owl-nav {
	position: absolute;
	width: 100%;
	top:38%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.brend .owl-prev {
	right: 75px;
	position: relative;
}
.brend .owl-next {
	left: 75px;
	position: relative;
}
.btn-block {
	margin-top: 25px;
	text-align: center;
}
.btn-all {
	background: transparent;
	border: 1px solid #000;
	font-size: 19px;
	padding: 8px 40px;
	color: #000;
}
.btn-all:hover {
	color: #754d98;
	border: 1px #754d98 solid;
}
.news {
	padding-bottom: 70px;
	padding-top: 100px;
}
.news-img {
	height: 320px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.overlay { display: block; position: relative; }
.overlay:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(219, 219, 218, 1);  opacity: 0; }
.overlay:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; }
.overlay:hover:before,
.overlay:hover:after { opacity: 0.6; }
.news-content {
	background: #fff;
	padding: 20px;
	position: absolute;
	bottom: 0;
	margin: 0 15px 25px 25px;
	border-top: 10px solid #9aa0a6;
	z-index: 10;
}
.news-title {
	font-size: 27px;
	color: #000;
}
.news-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #a7acaf;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 19px;
	z-index: 10;
	fill: #a7acaf;
}
.news-link:hover {
	color: #754d98;
	fill:#754d98;
}
.news-link-img {
	width: 20px;
	height: 18px;
	position: relative;
	margin-left: 5px;
}
.advantage {
	padding: 150px 0;
	background: #f5f8f9;
}
.advantage-card {
	background: #fff;
	padding: 8px;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
	box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
	line-height: 1.2;
}
.advantage-image {
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.advantage-image img {
	-o-object-fit: scale-down;
	   object-fit: scale-down;
}
.advantage-title {
	height: 90px;
	font-size: 18px;
}
.call-back {
	margin: 150px 0;
}
.call-back-content {
	padding: 100px 0 100px 50px;
}
.call-back .title-h2 {
	line-height: 1.4;
	text-align: left;
	font-size: 38px;
	margin-bottom: 25px;
}
.call-back-text {
	margin-bottom: 32px;
	font-size: 19px;
}
.btn-call {
	background: #1e1f23;
	padding: 13px 50px;
	color: #fff;
	font-size: 19px;
}
.hits {
	margin-bottom: 150px;
}
.hits-card {
	-webkit-box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
	box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
}
.hits-card-image img {
	width: 100%;
}
.hits-card:hover img {
	opacity: 0.6;
}
.hits-card-title {
	font-size: 17px;
	margin: 5px 0;
	font-family: 'FuturaPT-Medium';
	text-transform: uppercase;
	color: #000;
}
.hits-card-price {
	font-size: 20px;
	font-family: 'FuturaPT-Heavy';
	padding-bottom: 15px;
	color: #000;
}
.news-articles {
	padding: 100px 0;
	background: #f5f8f9;
}
.news-articles .owl-nav img {
	width: 30px;
	-webkit-filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
	        filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
}
.news-articles .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	-webkit-filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
	        filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
}
.news-articles .owl-prev {
	right: 320px;
	position: relative;
}
.news-articles .owl-next {
	left: 320px;
	position: relative;
}
.news-articles .owl-theme .owl-nav {
	position: absolute;
	width: 100%;
	bottom: -23px;
}
.news-articles .owl-theme .owl-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 75px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.news-articles .owl-theme .owl-dots .owl-dot span {
	width: 65px;
	height: 4px;
	margin: 0;
	border-radius: 0;
	background: #e5e8eb;
}
.news-articles .owl-theme .owl-dots .owl-dot.active span {
	background: #9aa0a6;
}
.news-articles-card {
	background: #fff;
	color: #000;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
	box-shadow: 0px 0px 10px 10px rgba(228, 233, 234, 0.37);
}
.news-articles-card:hover {
	-webkit-box-shadow: 0px 0px 10px 16px rgba(228, 233, 234, 0.37);
	box-shadow: 0px 0px 10px 16px rgba(228, 233, 234, 0.37);
}
.news-articles-card:hover img {
	opacity: 0.6;
}
.news-articles-image {
	width: 100%;
}
.news-articles-content {
	padding: 30px;
}
.news-articles-title {
	font-size: 17px;
	font-family: 'FuturaPT-Heavy';
	text-transform: uppercase;
	height: 65px;
}
.news-articles-text {
	font-size: 19px;
	font-family: 'FuturaPT-Book';
	line-height: 1.3;
	height: 95px;
}
.news-articles-bottom-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.news-articles-data {
	font-size: 19px;
	font-family: 'Circe-Bold';
}
.news-articles-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #a7acaf;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 19px;
	z-index: 10;
	fill: #a7acaf;
}
.news-articles-link:hover {
	color: #754d98;
	fill:#754d98;
}
.news-articles-link-img {
	width: 20px;
	height: 18px;
	position: relative;
	margin-left: 5px;
}
.news-articles-link-img:hover {
	fill:#754d98;
}
.news-articles .owl-nav img {
	width: 30px;
	-webkit-filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
	        filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
}
.news-articles .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	-webkit-filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
	        filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
}
.news-articles .owl-prev {
	right: -100px;
	position: relative;
}
.news-articles .owl-next {
	left: -100px;
	position: relative;
}
.news-articles .owl-theme .owl-nav {
	position: absolute;
	width: 100%;
	bottom: -24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.news-articles .owl-theme .owl-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 50px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.news-articles.owl-theme .owl-dots .owl-dot span {
	width: 200px;
	height: 4px;
	margin: 0;
	border-radius: 0;
	background: #e5e8eb;
}
.news-articles .owl-theme .owl-dots .owl-dot.active span {
	background: #9aa0a6;
}
footer {
	background: #000;
	padding: 100px 0;
	color: #fff;
	font-family: 'FuturaPT-Book';
}
footer a {
	color: #fff;
}
.footer-title-h2 {
	font-size: 30px;
	color: #aaabaf;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Circe-Regular';
	font-weight: 500;
}
.footer-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 100px;
}
.footer-input {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #fff;
	width: 450px;
	margin-right: 25px;
	font-size: 17px;
	color: #fff;
	margin-top: 7px;
	height: 40px;
}
.footer-input::-webkit-input-placeholder { 
	color: #fff;
}
.footer-input::-moz-placeholder { 
	color: #fff;
}
.footer-input:-ms-input-placeholder{
	color: #fff;
}
.footer-input:-moz-placeholder{
	color: #fff;
}
.footer-btn {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	padding: 10px 50px;
	font-size: 17px;
	font-family: 'Circe-Regular';
}
.footer-logo img {
	width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	margin-bottom: 40px;
}
.footer-text, .footer-conf-link, .footer-space {
	color: #636366;
	font-size: 15px;
}
.footer-text {
	margin-bottom: 15px;
}
.footer-conf-link {
	border-bottom: 1px solid #636366;
	padding-bottom: 2px;
}
.footer-conf-link:hover {
	color: #6f6f73;
}
.footer-space {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 50px;
}
.footer-space:hover {
	color: #6f6f73;
	-webkit-filter: invert(47%) sepia(5%) saturate(256%) hue-rotate(202deg) brightness(91%) contrast(86%);
	        filter: invert(47%) sepia(5%) saturate(256%) hue-rotate(202deg) brightness(91%) contrast(86%);
}
.footer-space img {
	margin-left: 20px;
}
.footer-navbar-list {
	padding-left: 75px;
	margin: 0;
}
.footer-navbar-list li {
	margin-bottom: 15px;
	text-transform: uppercase;
}
.footer-navbar-list-item-link {
	border-bottom: 2px solid #3b3c43;
	padding-bottom: 2px;
}
.footer-navbar-list-item-link:hover {
	color: #6f6f73;
}
.footer-info-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.footer-info-link span {
	border-bottom: 2px solid #3b3c43;
	padding-bottom: 2px;
}
.footer-info-link:nth-child(3) span {
	border: 0;
	padding-bottom: 0;
}
.footer-image img {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	-webkit-filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(203deg) brightness(123%) contrast(108%);
	        filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(203deg) brightness(123%) contrast(108%);
}
.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 25px;
}
.footer-social-link {
	margin-right: 35px;
}
.footer-social img {
	width: 25px;
	height: 20px;
	-webkit-filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(203deg) brightness(123%) contrast(108%);
	        filter: invert(100%) sepia(9%) saturate(7500%) hue-rotate(203deg) brightness(123%) contrast(108%);
}
.footer-social img:hover {
	-webkit-filter: invert(45%) sepia(10%) saturate(131%) hue-rotate(202deg) brightness(92%) contrast(84%);
	        filter: invert(45%) sepia(10%) saturate(131%) hue-rotate(202deg) brightness(92%) contrast(84%);
}
.m-catalog .owl-nav img, .tile .owl-nav img {
	width: 30px;
	-webkit-filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
	        filter: invert(97%) sepia(2%) saturate(996%) hue-rotate(179deg) brightness(89%) contrast(91%);
}
.m-catalog  .owl-theme .owl-nav [class*="owl-"]:hover, .tile .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent;
	-webkit-filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
	        filter: invert(98%) sepia(11%) saturate(497%) hue-rotate(175deg) brightness(98%) contrast(88%);
}
.m-catalog  .owl-prev, .tile .owl-prev  {
	right: 0px;
	position: relative;
}
.m-catalog  .owl-next, .tile .owl-next {
	left: 0px;
	position: relative;
}
.m-catalog  .owl-theme .owl-nav, .tile .owl-theme .owl-nav {
	position: absolute;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.tile .owl-theme .owl-nav {
	display: none;
}
.tile .owl-theme .owl-dots {
	display: none!important;
}
.m-catalog  .owl-theme .owl-dots, .tile .owl-theme .owl-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 28px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.m-catalog  .owl-theme .owl-dots .owl-dot span, .tile .owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 4px;
	margin: 0;
	border-radius: 0;
	background: #e5e8eb;
}
.m-catalog  .owl-theme .owl-dots .owl-dot.active span, .tile  .owl-theme .owl-dots .owl-dot.active span {
	background: #9aa0a6;
}
.m-catalog .card, .tile .card {
	margin: 10px 0 10px 0;
}
.tile .card {
	margin: 10px;
}
.m-catalog .card img, .tile .card img {
	height: 240px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.m-catalog .card-title, .tile .card-title {
	padding: 20px 0;
	line-height: 1.2;
}
.footer-developer-m {
	display: none;
	margin-top: 50px;
}