@media screen and (max-width: 992px){
	.m-header {
		display: block;
	}
	.mobile-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 20px 0;
	}
	.hamburger-icon-wrapper {
		top: 0;
	}
	.top-header, .bottom-header, .top-header-shadow, .top-header-info {
		display: none;
	}
	.cart {
		margin-right: 35px;
	}
	.right-block {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.search-input {
		width: 100%;
		margin: 25px 0;
		background: transparent;
	}
	.navbar-list {
		display: block;
	}
	.navbar-list-item {
		font-size: 17px;
		font-weight: 500;
		margin-bottom: 25px;
	}
	.active .item-link {
		border-bottom: 4px solid #bdc4ca;
		padding-bottom: 2px;
	}
	.dropdown-content {
		position: relative;
	}
	.navbar-list-item {
		display: block;
	}
	#m-catalog .catalog-item a {
		color: #97a0a6;
	}

}
@media screen and (max-width: 576px){
	.logo-link {
		display: block;
	}
	.m-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-box-align: center;
		
		    -ms-flex-align: center;
		
		        align-items: center;
	}
	.mobile-menu {
		padding: 0;
	}
	.hamburger-icon-wrapper {

	}
	.logo {
		margin-right: 0;
		width: 100%;
	}
	.logo img {
		width: 80%;
	}
	.slider .item {
		height: 580px;
	}
	.slider .item .item-img{
		-o-object-fit: cover;
		   object-fit: cover;
	}
	.title-h1 {
		font-size: 35px;
	}
	.slider .title-h2 {
		font-size: 33px;
	}
	.m-br {
		display: block;
	}
	.title-h2 {
		font-size: 30px;
	}
	.catalog {
		margin: 50px 0;
	}
	.catalog .container {

	}
	.d-catalog {
		display: none;
	}
	.m-catalog {
		display: block;
	}
	.tile .owl-theme .owl-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.tile .owl-theme .owl-dots {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}
	.tile .card {
		margin: 10px 0 10px 0 !important;
	}
	.tile {
		margin-bottom: 75px;
	}
	.showroom {
		padding: 50px 0;
	}
	.showroom .owl-carousel .owl-item {
		height: 435px;
	}
	.showroom .owl-theme .owl-dots .owl-dot span {
		width: 40px;
	}
	.showroom .owl-next {
		left: -10px;
		position: relative;
	}
	.showroom .owl-prev {
		right: -10px;
		position: relative;
	}
	.showroom .owl-theme .owl-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
	}
	.showroom .owl-theme .owl-dots {
		margin-top: 50px;
	}
	.brend {
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.brend-block .item-img {
		padding: 15px;
	}
	.news {
		padding-top: 75px;
		padding-bottom: 50px;
	}
	.news-title {
		line-height: 1.2;
	}
	.advantage {
		padding-top: 75px;
		padding-bottom: 50px;
	}
	.advantage-card {
		margin: 0 15px 25px 15px;
	}
	.call-back {
		margin: 75px 0;
	}
	.call-back-content {
		padding: 50px 25px;
	}
	.call-back .title-h2 {
		font-size: 30px;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 55px;
	}
	.call-back-text {
		font-size: 19px;
		text-align: center;
		line-height: 1.2;
		margin-bottom: 50px;
	}
	.btn-call {
		font-size: 19px;
		padding: 13px 30px;
		width: 100%;
		text-align: center;
	}
	.hits {
		margin-bottom: 50px;
	}
	.hits-card {
		margin-bottom: 25px;
	}
	.news-articles {
		padding: 50px 0;
	}
	.news-articles .owl-theme .owl-dots .owl-dot span {
		width: 20px;
	}
	.news-articles .owl-prev {
		right: -5px;
		position: relative;
	}
	.news-articles .owl-next {
		left: -5px;
		position: relative;
	}
	footer {
		padding: 50px 0;
	}
	.footer-title-h2 {
		line-height: 1.2;
	}
	.footer-form {
		display: block;
		margin-bottom: 50px;
	}
	.footer-input {
		width: 100%;
	}
	.footer-btn {
		margin-top: 25px;
		width: 100%;
	}
	.footer-developer {
		display: none;
	}
	.footer-navbar-list {
		padding-left: 0;
	}
	.footer-info {
		margin-top: 50px;
	}
	.footer-developer-m {
		display: block;
	}
	.footer-developer-m .footer-logo img{
		width: 70%;
	}
}
@media screen and (max-width: 350px){
	.hamburger-icon-wrapper {
		top: 15px;
	}
}
